/*cabecalho e metricas*/

/*inicio do cabeccalho*/

.cabecalho {
    background-color: var(--branco-background);
    text-align: center;
    margin: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.cabecalho__sobretitulo {
    color: var(--vermelho-destaque)
}

.cabecalho__titulo {
    font-size: 3em;
    font-weight: 600;
}

.cabecalho__descricao {
    font-size: 1.25em;
    color: var(--cinza);
    font-weight: 400;
    padding: 0 12em;
}

/*inicio de metricas*/
.metricas{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 8em;
    gap: 2.5em;
}
.metricas__item {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1em;
}
.metricas__valor {
    font-size: 3.75em;
    font-weight: 600;
    color: var(--vermelho-destaque);
}

.metricas__subtitulo {
    font-size: 1em;
    color: var(--preto-texto);
    font-weight: 500;
}

.metricas__descricao {
    font-size: 1em;
    color: var(--cinza);
    font-weight: 400;
    text-align: left;
}
