/*vagas e oportunidades*/

.vagas {
    background-color: var(--branco-background);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2em;
    margin: 6em 8em;

}

.vagas__sobretitulo {
    color: var(--vermelho-destaque);
    background-color: #8E24241A;
    border-radius: 1em;
    padding: 0.5em 0.8em;
}

.vagas__titulo {
    font-size: 2.25em;
    font-weight: 600;
    margin: 1.3em 0em;
}

.vagas__descricao {
    font-size: 1.25em;
    color: var(--cinza);
    font-weight: 400;
    margin-bottom: 4em;
}

.equipe__imagem {
    width: 100%
}

.vagas__design {
    text-align: left;
    margin: 1em 10em;
    padding: 0em 5em
}

.vagas__area {
    font-size: 1.25em;
    font-weight: 500;
    margin-bottom: 1.5em;
}
.vagas__tipo {
    border: 1px solid #EAECF0;
    border-radius: 1em;
    padding: 2em;
    margin-bottom: 1em;
}
.vagas__tipo:hover {
    background-color: var(--cinza-claro);
    cursor: pointer;
}
.vagas__cargo {
    font-size: 1.125em;
    font-weight: 500;
    color: var(--preto-texto);
    margin-bottom: 2em;
}
.vagas__info {
    font-size: 1em;
    font-weight: 500;
    color: var(--cinza)
}
.vagas__info span {
    margin-left: 1em
}
.vagas__dev {
    text-align: left;
    margin: 1em 10em;
    padding: 0em 5em
}

